<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
</head>

<body>
    <form action="/user/register" method="POST">
        <div>
            用户名:<input type="text" placeholder="请输入用户名" name="username">
        </div>

        <div>
            密码：<input type="password" placeholder="请输入密码" name="password">
        </div>
        <div>
            确认密码：<input type="password" placeholder="请再次输入密码" name="second_pwd">
        </div>
        <div>
            <input type="submit" value="注册提交">
        </div>


    </form>

</body>

</html>